body {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
span,
b,
image,
i,
input,
button {
  display: inline-block;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.pl-120 {
  padding-left: 120px;
}
.pr-120 {
  padding-right: 120px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pb-120 {
  padding-bottom: 120px;
}
.pl-120 {
  padding-left: 120px;
}
.pr-120 {
  padding-right: 120px;
}
button {
  border: none;
}
